:root {
    /** COLOR PALETTE LIGHT MODE**/
    --back-color: #FFFFFF;
    --number: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    background-color: var(--back-color);
}

h1{
    /* color: var(--number); */
    font-size: 13rem;
    font-weight: 700;
    background: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.container-git{
    position: fixed;
    top: 20px;
    right: 20px;
}

.container-git svg {
    width: 40px;
    cursor: pointer;
}

.container-git svg path {
    fill: #000000;
}

/* 
De esta manera se si el usuario tiene activado el tema oscuro en su configuración del sistema.
Esta propiedad detecta si el usuario prefiere el tema oscuro o no, y nos dice cual theme deberíamos mostrarle.
*/
@media (prefers-color-scheme: dark){
    :root {
        /** COLOR PALETTE DARK MODE**/
        --back-color: #000000;
        --number: #FFFFFF;
    }
    .container-git svg path {
        fill: #FFFFFF;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 1107px) {
    h1 {
        font-size: 10rem;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 7rem;
    }
}

/* si la ventana del navegador es 600px o menos se ejecutara esto */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 4rem;
    }
}